body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

aside {
  width: 25%;
  background-color: #f0f0f0;
}

main {
  flex: 1;
  background-color: #e0e0e0;
}

.container {
  display: flex;
  height: 100vh;  
}

img {
  width: 250px;
}