:root {
   --color1: #0F1035;
   --color2: #365486;
   --color3: #7FC7D9;
   --color4: #e0f1f0;
}

* {
   margin: 0;
   padding: 0.5rem;
   box-sizing: border-box;
   /* border: 1px solid brown; */
}

body {
   background-color: var(--color4);
}

header {
   background-color: var(--color4);
   min-height: 30vh;
   /* height: auto; */
   /* gap: 0.5rem; */
   /* display: flex; */
   /* flex-wrap: wrap; */
   position: relative;
   justify-content: center;
}

header>h1 {
   width: 100%;
   /* height: 5%; */
   padding: 0.2rem;
   /* margin: 0.5rem; */
   font-size: 2em;
   background-color: var(--color1);
   text-align: center;
   font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
   /* font-size: auto; */
   color: var(--color4);
   border-radius: 0.5rem;
}

header>nav {
   justify-content: end;
   justify-items: auto;
   font-size: 1em;
   padding: 0.6rem;
   position: absolute;
   bottom: -1.7rem;
   right: 2rem;
   background-color: var(--color4);
   border-radius: 0.5rem;
   /* max-width: 62%; */
   width: auto;
}

header>nav a {
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: var(--color3);
   color: var(--color1);
   border-radius: 0.5rem;
}

a[href="#"] {
   background-color: var(--color1);
   color: var(--color4);
   border: 1px dotted var(--color4);
   border-radius: 0.5rem;
}

header figure {
   padding: 0.1rem;
   justify-content: center;
   margin-top: 0.5rem;
   max-height: 98%;
}

header>figure>img {
   /* max-height: 15em; */
   width: 100%;
   height: 20.5vh;
   display: inline-block;
   object-fit: cover;
   background-color: #365486;
   border-radius: 0.5rem;
   padding: 0.1rem;
}

header>figure>img:hover {
   transform: rotate(1deg);
   opacity: 0.8;
   border: 2px dotted var(--color3);
}

header h2 {
   /* rules of play page */
   width: 100%;
   text-align: center;
   color: var(--color1);
   font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

header p {
   /* rules of play page */
   width: 100%;
   text-align: center;
   color: var(--color1);
   font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
   margin-bottom: 1rem;
}

main {
   display: flex;
   flex-wrap: wrap;
   min-height: 52vh;
   /* min-width: 70%; */
   background-color: var(--color4);
   margin-top: 1rem;
   margin-bottom: 0.3rem;
   padding: 1rem;
}

main aside {
   height: auto;
   background-color: var(--color1);
   max-width: 25%;
   min-height: 98%;
   /* display: flex; */
   /* flex-wrap: wrap; */
   border-radius: 0.5rem;
   margin-right: 0.5rem;
}

main aside h2 {
   /* rules of play page */
   width: 100%;
   font-size: 1.2rem;
   text-align: end;
   color: var(--color1);
   font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
   border-radius: 0.5rem;
   border: 1px dotted var(--color1);
   padding: 0.6rem;
   background-color: var(--color4);
}

main aside p {
   /* rules of play page */
   width: 100%;
   text-align: justify;
   color: var(--color1);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 0.5rem;
   border: 1px dotted var(--color1);
   margin-top: 0.3rem;
   padding: 0.6rem;
   background-color: var(--color4);
}

main aside figure {
   /* home and about pages */
   height: 100%;
   background-color: var(--color1);
}

main aside img:nth-child(1) {
   /* home and about pages */
   width: 100%;
   /* height: 47%; */
   border-radius: 5%;
   padding: 0.3rem;
   /* display: inline-block; */
   /* object-fit: cover; */
   background-color: var(--color1);
}

main aside img:nth-child(2) {
   /* home and about pages */
   width: 100%;
   /* height: 35%; */
   /* max-height: 20rem; */
   border-radius: 5%;
   padding: 0.3rem;
   /* object-fit: cover; */
   background-color: var(--color1);
}

main section {
   /* home and about pages */
   width: 72%;
   min-height: 95%;
   background-color: var(--color3);
   margin-top: 1rem;
   display: flex;
   flex-wrap: wrap;
   gap: 0.5rem;
   border-radius: 0.5rem;
   align-content: space-around;
   align-content: start;
}

main section h2 {
   /* rules of play page */
   width: 90%;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: var(--color3);
   color: var(--color1);
   align-self: start;
   border-radius: 0.5rem;
   text-shadow: 1px 1px 3px var(--color4);
}

main section h3 {
   /* contact page */
   width: 100%;
   font-size: 1.5rem;
   padding: 0.5rem;
   text-align: center;
   text-justify: center;
   height: 3rem;
   background-color: var(--color1);
   color: var(--color4);
   font-family: Geneva, Verdana, sans-serif;
   border-radius: 0.5rem;
}

main section p>a {
   /* contact page */
   text-decoration: none;
   color: var(--color2);
   font-weight: bold;
}

main section p {
   width: 100%;
   text-align: center;
}

#p-text {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   height: auto;
   background-color: var(--color3);
   font-weight: bold;
   color: var(--color4);

   text-shadow: 1px 1px 2px #365486;
}

main section article {
   /* home and about pages */
   background-color: var(--color4);
   min-height: 70%;
   /* max-width: 30%; */
   height: auto;
   width: 20vw;
   border-radius: 0.5rem;
}

article:hover {
   box-shadow: 2px 2px 4px var(--color1);
   font-size: 1.2rem;
}

main section article h4 {
   /* home and about pages */
   height: auto;
   width: 100%;
   max-height: 35%;
   margin-bottom: 0.1rem;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   /* border: none; */
   text-align: end;
}

main section article p {
   /* home and about pages */
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.8rem;
   height: auto;
   max-height: 60%;
   border: 1px dotted var(--color3);
}

#contact-main-section p {
   /* contact page */
   width: 100%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   /* text-align: justify;   */
   height: auto;
   border-radius: 0.5rem;
   background-color: var(--color4);
}

#contact-main-section p>a {
   /* contact page */
   padding: 0;
}

span {
   /* contact page */
   padding: 0;
}

ol {
   /* rules of play page */
   border-radius: 0.5rem;
   display: flex;
   flex-wrap: wrap;
   /* flex-direction: row-reverse; */

}

li,
ol,
ul,
dl,
dt,
dd {
   /* rules of play page */
   list-style-position: inside;
   border-radius: 0.5rem;
   border: 1px dotted var(--color3);
   margin: 0.2rem;
   /* display: flex; */
   background-color: var(--color4);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main section ol li h3 {
   /* rules of play page */
   font-size: 1rem;
   padding: 0.3rem;
   height: auto;
}

main section ol li p {
   /* rules of play page */
   border: 1px dotted var(--color1);
   border-radius: 0.5rem;
   margin-top: 0.3rem;
}

main section ol li ol li {
   /* rules of play page */
   border: 1px dotted var(--color1);
   border-radius: 0.5rem;
   margin-top: 0.3rem;
   width: 100%;
}

li::marker {
   /* rules of play page */
   font-size: 1.3rem;
   position: absolute;
   color: var(--color1);
   font-style: italic;
}

li:hover,
dl:hover {
   transform: rotate(1deg);
   box-shadow: 2px 2px 4px var(--color1);
}

main section dt {
   /* rules of play page */
   background-color: var(--color1);
   color: var(--color4);
   font-family: Geneva, Verdana, sans-serif;
   font-weight: bold;
   text-align: center;
   padding: 0.3rem;
   height: auto;
}

main aside div {
   /* games schedule */
   background-color: var(--color4);
   font-family: Geneva, Verdana, sans-serif;
   border-radius: 0.5rem;
   margin: 0.5rem;
}

main aside div h4 {
   /* games schedule */
   border-radius: 0.5rem;
}

main aside div p>a {
   /* games schedule */
   display: inline-block;
   width: 98%;
   /* font-size: 0.7rem; */
   /* white-space: nowrap; */
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 0;
   text-decoration: none;
   color: var(--color2);
   font-weight: bold;
}

#games-table {
   /* main section de: games schedule page */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-around;
}

main section table {
   /* games schedule */
   /* display: inline-block; */
   min-width: 50vw;
   height: auto;
   font-family: Geneva, Verdana, sans-serif;
   /* font-size: auto; */
   text-align: end;
   border-collapse: collapse;
}

th {
   /* games schedule */
   background-color: var(--color1);
   color: var(--color4);
}

/* ***estilos para los mapas*** */
iframe {
   width: 20vw;
   height: 20vh;
   box-shadow: 1px 1px 2px #0F1035;
}


table tr {
   /* games schedule */
   /* PROBLEMASSSSSS */
   background-color: var(--color4);
   border: 3px solid var(--color1);
}

table:hover {
   transform: rotate(1deg);
   box-shadow: 2px 2px 4px var(--color1);

}

/* FOOTER PARA TODAS LAS PAGINAS */

footer {
   background-color: var(--color1);
   color: var(--color4);
   margin-top: 5rem;
   width: 100%;
   margin-bottom: 0;
   border-radius: 0.5rem;
}

footer p {
   background-color: var(--color1);
   color: var(--color4);
   /* margin-top: 5rem;
   width: 100% */
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ***STYLES APPLIED TO REGISTRATION FORM*** */

section {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

form {
   width: 80%;
   border: 6px double var(--color1);
   border-radius: 0.5rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: var(--color3);
   /* outline: 1px solid yellow; */

}

form fieldset {
   background-color: var(--color4);
   margin-top: 0.6rem;
   padding: 2rem;
   /* outline: 1px solid red; */
   text-align: center;
}

fieldset legend {
   background-color: var(--color4);
   height: auto;
   border-radius: 0.5rem;
   color: var(--color2);
   font-weight: bold;
   /* outline: 1px solid yellow; */
}

fieldset:hover {
   box-shadow: 2px 2px 4px var(--color1);
}

main section form h3 {
   height: auto;
   font-size: 1rem;
   margin-top: 1rem;
   margin-bottom: 0.5rem;
   /* outline: 1px solid yellow; */
}

input {
   margin: 0.5rem;
}

label:hover {
   font-style: italic;
   font-weight: bold;
}

.fieldset-styles input {
   width: 100%;
   margin: 0.5rem;
   text-align: center;
   margin-right: 0.5rem;
}

.fieldset-styles input:hover {
   box-shadow: 1px 1px 2px var(--color1);
}

.fieldset-styles2 label {
   display: inline-block;
   width: auto;
}

fieldset select {
   width: 20vw;
   margin-left: 1rem;
   font-size: 1rem;
}

.fieldset-styles3>input {
   width: 20vw;
   margin-left: 1rem;
   font-size: 1rem;
}

#register-main-section {
   width: 100%;
   outline: 2px solid brown;
}

#register-main-section article {
   width: 100%;
   margin-top: 0.5rem;
}

button {
   width: 10vw;
   border-radius: 1px dotted var(--color4);
   /* position: absolute; */
   border-radius: 0.5rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
   margin-left: 35%;
   font-weight: bold;
   color: var(--color2);
   font-size: 1.2rem;
   padding: 0.5rem;
}